/* File: style.css */

.root{
    -fx-background-color: #01010D ;
}

.table-view .column-header-background .label {
    -fx-background-color: #01010D;
    -fx-text-fill: white; /* Cambia il colore del testo se necessario */
}

.table-view {
    -fx-background-color: transparent;
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent
}
.table-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.table-row-cell:selected{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #01010D; /* Usa il colore desiderato */
}

.table-view .column-header-background .filler {
    -fx-background-color: #01010D; /* Assicurati che corrisponda al colore dell'intestazione della colonna */
}

.text-field {
    -fx-alignment: center;
}

.button-submitButton {
    -fx-padding: 10 20 10 20;
    -fx-font-size: 13 pt;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.button-submitButton:hover {
    -fx-background-color: #005A9E;
}

.guessField {
    -fx-padding: 5px 10px;
    -fx-font-size: 14px;
    -fx-border-color: #4A90E2;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0.0, 0.0);
}

.guessField:focused {
    -fx-border-color: #D62D20;
}

.combo-box {
    -fx-font-size: 15px;
    -fx-font-family: 'Kalam', bold;
    -fx-background-color: #01010D;
    -fx-border-color: #01010D;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-background-color: #01010D;
    -fx-padding: 3px;
    -fx-text-fill: #595959;
    -fx-alignment: center;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #01010D;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box .arrow-button{
    -fx-padding: 0;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: transparent;
}



