/* menu difficoltà stylesheet */
.combo-box {
    -fx-font-size: 15px;
    -fx-font-family: 'Kalam', bold;
    -fx-background-color: #01010D;
    -fx-border-color: #01010D;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-background-color: #01010D;
    -fx-padding: 3px;
    -fx-text-fill: #595959;
    -fx-alignment: center;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #01010D;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box .arrow-button{
    -fx-padding: 0;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: transparent;
}