/* send answer button style */
.button-submitButton {
    /*-fx-padding: 10 20 10 20;*/
    -fx-font-size: 18 pt;
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 20;
    -fx-background-radius: 50%;
    -fx-alignment: center;
    -fx-min-height: 35px;
    -fx-min-width: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
}
.button-submitButton:hover {
    -fx-background-color: #005A9E;
}
